{% extends "homebase.html" %}
{% block title %}
    FAQ- {{ setting.company }}

{% endblock %}


{% block keywords %}
{{ setting.keyword}}
{% endblock %}
{% block description %}
{{ setting.description }}
{% endblock %}
{% block head %}
<link rel='shortcut icon' type='images/1005792.png' href='{{ setting.icon.url}}' />
{% endblock %}

{% block sidebar %}
{%  include "sidebar.html" %}
{% endblock %}

{% block slider %}
{% include "slider.html" %}
{% endblock %}

{% block content %}
    <div id="breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="active">/ FAQ</li>
                </ul>
            </div>
    </div>

    <div class="section">
            <div class="container">
                <div class="row">
                    <table id="customers">
  <tr>
    <th>Question</th>
    <th>Answer</th>
  </tr>
        {% for rs in faq %}
  <tr>
    <td><h5>{{ rs.question }}</h5></td>
    <td>{{ rs.answer | safe }}</td>
  </tr>
        {% endfor %}

</table>
                </div>
            </div>
    </div>

{% endblock %}