<!-- footer -->
<footer>

                    <div class="col-md-12">
                        <div class="new">
                            <h3>Newsletter</h3>
                            <form class="newtetter">
                                <input class="tetter" placeholder="Your email" type="text" name="Your email">
                                <button class="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2021 All Rights Reserved. Design by<a href="https://www.instagram.com/brycees/"> Furkan Aydın</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
 <!-- Javascript files-->
{% load static %}

    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>
     <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>