{% extends "homebase.html" %}
{% block title %}
    Şifreyi güncelle - {{ setting.company }}

{% endblock %}


{% block keywords %}
{{ setting.keyword}}
{% endblock %}
{% block description %}
{{ setting.description }}
{% endblock %}
{% block head %}
<link rel='shortcut icon' type='images/1005792.png' href='{{ setting.icon.url}}' />
{% endblock %}

{% block sidebar %}
{%  include "sidebar.html" %}
{% endblock %}

{% block slider %}
{% include "slider.html" %}
{% endblock %}

{% block content %}
    <div id="breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="active">Şifreyi Güncelle</li>
                </ul>
            </div>
    </div>
    {% if messages %}
        {% for message in messages  %}
             <div style="color: firebrick; font-size: medium">
             {{ message | safe }}
             </div>
    {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <form action="" method="post" accept-charset="utf-8" class="form" role="form">   <legend>Change Password</legend>
            {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                     <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>

            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                        Save changes</button>
            </form>
          </div>>

{% endblock %}